<html>
	<head>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div id="topblock">
			<label id="one">+91 9482551031</label>
			<label id="two">email:info@mycompany.com</label>
		</div>
		
			
			<div id="infoblock">
				<img src="1.jpg" id="logo">
				<span id="inforight">
					<button id="smallbutton">contact Now</button>
				</span>
			</div>
			
			<div id="topnav">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="conatct.html">contact Us</a></li>
					<li><a href="register.html">Register</a></li>
					<li><a href="login.html">Login</a></li>
					<li><a href="enquiry.html">Enquiry</a></li>
				</ul>
			
			</div><!-- nav end-->
			
			<div id="container"><!--container-->
			
			<div id="topphoto">
				<img src="1.jpg" id="banner">
			</div>
			<div id="topenquiry">
				<table>
					<caption>Contact Us</caption>
					<tr>
						<th>Name</th>
						<td><input type="text"class="inputbox"></td>
					</tr>
					
					<tr>
						<th>mobile</th>
						<td><input type="text"class="inputbox"></td>
					</tr>
					
					<tr>
						<th>message</th>
						<td><textarea class="biginputbox"></textarea></td>
					</tr>
					
					<tr>
						<th colspan="2">
							<button id="smallbutton">Send Now</button>
						</th>
					</tr>
				</table>
			</div>
			
			<div class="clearblock"></div>
			
			<div id="leftnav">
				<ul>
					<li><a href="">bangalore</a></li>
					<li><a href="">mangalore</a></li>
					<li><a href="">chennai</a></li>
					<li><a href="">hydrabad</a></li>
					<li><a href="">kolkata</a></li>
					<li><a href="">pune</a></li>
					<li><a href="">delhi</a></li>
				</ul>
			</div>
			
			<div id="rightblock">
				<h2 align="center">About Us</h2>
				<p align="justify">
				dffdffdf dfdfds fdf dfds fdsf dsfds fsdf dsfds fdf f dfds fsdf dsf dfds sdf dfd sfds fdsf df dfsd far-leftdf df
				df sdf df dfds dsf sdfds fdsf dsfds fdsf df dfds dsf dsf df ds fdsf df sdf ddsf dsf sdfds fdsf sdf dsf df sdf data
				f dsfdsf dds fsdf dfd dsf dfds ds dsf sdf dsf dsf df sdf sf sdf df df sdf sdf dsf sdf dsf sdf sdf sdf sdf ds fsd f 
				</p>
				<p align="justify">
				dffdffdf dfdfds fdf dfds fdsf dsfds fsdf dsfds fdf f dfds fsdf dsf dfds sdf dfd sfds fdsf df dfsd far-leftdf df
				df sdf df dfds dsf sdfds fdsf dsfds fdsf df dfds dsf dsf df ds fdsf df sdf ddsf dsf sdfds fdsf sdf dsf df sdf data
				f dsfdsf dds fsdf dfd dsf dfds ds dsf sdf dsf dsf df sdf sf sdf df df sdf sdf dsf sdf dsf sdf sdf sdf sdf ds fsd f 
				</p>
				
				<h2 align="center">Recent Work</h2>
				
				<div class="imagebox">
				
					<img src="1.jpg" class="myphoto">
				</div>
				<div class="imagebox">
					<img src="1.jpg" class="myphoto">
				</div>
				<div class="imagebox">
					<img src="1.jpg" class="myphoto">
				</div>
				<div class="imagebox">
					<img src="1.jpg" class="myphoto">
				</div>
				<div class="imagebox">
					<img src="1.jpg" class="myphoto">
				</div>
				<div class="imagebox">
					<img src="1.jpg" class="myphoto">
				</div>
				
			</div>
			
			<div class="clearblock"></div>
			
			
		</div><!--container end-->
		
		<div id="footerblock">
			<h4>This is footer section in the bottom part</h4>
		</div>
	</body>
</html>